@font-face {
    font-family: 'Helvetica Neue';
    font-weight: normal;
    font-style: normal;
    src: url('./../font/helveticaneue.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: normal;
    font-style: normal;
    src: url('./../font/Montserrat-Regular.ttf');
}

.navbar-custom {
    background: #2c3e50;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    padding: 18px 0;
    height: 90px;
}

.navbar-custom a:focus {
    outline: none
}

.navbar-custom .navbar-brand {
    color: #fff
}

.navbar-custom .navbar-brand:hover, .navbar-custom .navbar-brand:focus, .navbar-custom .navbar-brand:active, .navbar-custom .navbar-brand.active {
    color: #fff
}

.login-username {
    color: #cacaca !important;
    display: block;
    text-transform: initial;
    font-size: 15px;
    margin-top: 10px;
    font-weight: bold;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 2.6
}

.login-username .caret, .nav a:hover .caret, .nav a:focus .caret {
    border-top-color: #fff;
    border-bottom-color: #fff
}

.login-username:hover, .login-username:focus {
    text-decoration: none
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

body {
    background-color: #b5cfde !important;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 490px !important;
}

.main-logo {
    width: 80%;
}

.header-product {
    margin: 192px 0 100px 0;
    color: #304354;
    font-size: 50px;
    font-weight: bold;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    color: white;
    font-size: 2.25em;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
    text-shadow: 0px 2px 0px #000000;
}

.item-product {
    height: 400px;
    margin: 0 10px;
    outline: none;
}

.item-product.one {
    background-image: url("./../img/Layer%204.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.item-product.two {
    background-image: url("./../img/Layer%202.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.item-product.three {
    background-image: url("./../img/Layer%203.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.product-content {
    height: 100%;
    background: rgba(45, 37, 37, 0.53);
    display: block;
    line-height: 400px;
}

.product-logo {
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto;
}

.product-name {
    display: block;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 30px;
    font-size: 18px;
}

.product-description {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    text-align: left;
    font-size: 11px;
    padding: 0 40px;
    display: none;
}

.content-body {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    width: 100%;
    text-align: center;
    position: relative;
}

.item-hover.selected .item-product {
    zoom: 1.1;

    margin-top: -20px;
    transition: 500ms ease-in-out scale;
    -webkit-transition: 500ms ease-in-out scale;
}

.item-hover.selected .item-product .product-description {
    display: table;
    table-layout: fixed;
    line-height: 1.5;
}

.item-hover.selected .item-product .product-footer-button {
    display: block;
    position: relative;
    top: -52%;
}

.item-hover.selected .item-product .product-content {
    background: -webkit-linear-gradient(rgba(46, 19, 80, 0.41), rgba(27, 63, 195, 0.65)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(46, 19, 80, 0.41), rgba(27, 63, 195, 0.65)); /* For Safari 5.1 to 6.0 */
    background: -moz-linear-gradient(rgba(46, 19, 80, 0.41), rgba(27, 63, 195, 0.65)); /* For Safari 5.1 to 6.0 */
    background: linear-gradient(rgba(46, 19, 80, 0.41), rgba(27, 63, 195, 0.65)); /* For Safari 5.1 to 6.0 */
    box-shadow: 5px 12px 15px 0px #959595
}

.carousel-inner .item .item-hover {
    margin-top: 20px;
    margin-bottom: 35px;
}

.site-content {
    height: 100%;
}

.row-content {
    display: table-row;
}

.indication {
    padding: 0 10px 0 0;
}

.indication, description-row {
    display: table-cell;
}

.description-row {
    margin: 10px 0;
}

.product-footer-button {
    position: absolute;
    bottom: -52px;
    width: 100%;
    text-align: center;
    display: none;
}

.product-footer-button button {
    width: 145px;
    border-radius: 20px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 12px;
}

.product-footer-button button.left {
    margin-right: 15px;
}

.product-footer-button button.learn-more-button {
    background-color: #3d4578;
    color: #fff;
}

.product-footer-button button.launch-button {
    background-color: #fc3651;
    color: #fff;

}

.products-list {
    position: relative;
}

.carousel-control {
    position: absolute;
    background-repeat: no-repeat !important;
}

.carousel-control.right {
    background-image: url("./../img/Arrow-right.png") !important;
    background-position: 50% 50%;
    right: 70px !important;
    width: 80px;
}

.carousel-control.left {
    background-image: url(./../img/Arrow-left.png) !important;
    background-position: 50% 50%;
    left: 0;
}

.slick {
    margin: 0 10%;
}

.slick-slide {
    outline: none
}

.slick-track {
    margin-top: 20px;
    margin-bottom: 20px;
}

.left-hover-area {
    width: 386px;
    position: absolute;
    height: 100%;
    top: 0;
    left: 162px;
    background-color: transparent;
}

.left-hover-area:hover {
    pointer-events: none;
}

.right-hover-area {
    width: 386px;
    position: absolute;
    height: 100%;
    top: 0;
    right: 162px;
    background-color: transparent;
}

.right-hover-area:hover {
    pointer-events: none;
}

.header-product-content {
    height: 150px;
    width: 100%;
    display: table;
    table-layout: fixed;
}

.header-product-content.ams {
    background-image: url("./../img/Header_1.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
}

.header-product-content .header {
    display: table-row;
}

.header-product-content .header p {
    display: table-cell;
    vertical-align: middle;
    font-size: 20px;
    /* margin-left: 50px; */
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    color: #fff;
    font-weight: bold;

    background: -webkit-linear-gradient(rgba(46, 19, 80, 0.41), rgba(27, 63, 195, 0.65)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(46, 19, 80, 0.41), rgba(27, 63, 195, 0.65)); /* For Safari 5.1 to 6.0 */
    background: -moz-linear-gradient(rgba(46, 19, 80, 0.41), rgba(27, 63, 195, 0.65)); /* For Safari 5.1 to 6.0 */
    background: linear-gradient(rgba(46, 19, 80, 0.41), rgba(27, 63, 195, 0.65)); /* For Safari 5.1 to 6.0 */
}

.fancybox-skin {
    padding: 0 !important;
    height: auto;
    width: 750px !important;
    margin: 0 auto !important;
}

.fancybox-inner {
    width: 100% !important;
}

.product-content-description {
    padding: 50px 70px;
    font-weight: 500;
    font-size: 13px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.fancybox-nav:hover {
    background: transparent;
}
.fancybox-nav i {
    display: block;
    height: 50px;
    width: 50px;
    background: #fc3651;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    font-size: 44px;
    border-radius: 50%;
}
.fancybox-nav {
    width: 50px;
}
.fancybox-next i {
    position: absolute;
    right: -25px;
    top: 180px;
    text-align: center;;
}
.fancybox-prev i {
    position: absolute;
    left: -25px;
    top: 180px;
    text-align: center;;
}
